body {
    margin: 0;
    padding: 30px;

    font-family: Arial, sans-serif;

    background: white;
}

h1 {
    font-size: 32px;
}

p {
    font-size: 18px;
}

#editor {
    width: 800px;
    height: 500px;

    border: 1px solid #ccc;
}